.static-width{
    width: 300px;
    height: 300px;
    background-color: #606060;
    background-image: url(https://cdn.nba.com/logos/leagues/logo-jr-nba.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}